alloy/App_Data/
alloy/App_Data/EpiServerErrors.log
alloy/App_Data/blobs/
alloy/App_Data/Index/
alloy/License.Config
alloy/bin/

packages/
node_modules/
dist/
.vs/
.vscode/

**/obj/
**/bin/

*.user
*.log
